@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-satoshi: "Satoshi", sans-serif;
  --font-poppins: "Poppins", serif;
  --font-cinzel: "Cinzel", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--font-satoshi);
  /* max-width: 1440px; */
  margin: 0 auto;
}

.footer-black-gradient {
  background: linear-gradient(360deg, #323232 0%, #222222 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.blog-content {
  @apply px-4 py-10 mx-auto;
}

.custom-h2 {
  @apply text-3xl md:text-4xl text-[#000000] font-medium;
}

.custom-p {
  @apply text-base md:text-lg text-gray-600 font-normal;
}

.service-blog {
  @apply px-4 pb-6 pt-2 w-full mx-auto space-y-6;
}

.heading {
  @apply text-3xl lg:text-5xl font-cinzel font-medium;
}

.description {
  @apply text-lg sm:text-xl md:text-2xl font-normal font-montserrat;
}
